.form-check.form-switch-two-values {
    padding-left: 0;    
    input {
        width: 3em;
        float: none;
        margin-left:0;
    }
    .first-check-label {
        margin-right: 1em;
    }

    .second-check-label {
        margin-left: 1em;
    }
}