//Primarios IICA
$iica_primary_1: #1c3664 ;
$iica_primary_2: #1661B6;
$iica_primary_3: #e8ebf0;
$iica_primary_4: #9d9d9d;
$iica_primary_5: #1D1D1D;
$iica_primary_6: #009999;
$iica_primary_7: #4e4e4e;
$iica_primary_8: #7786a2;

$primary: $iica_primary_1;